@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/* assumes that normalize.css is already in main.html as a CDN load */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #555;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}
